/* for cards */
/*.card {
    margin: 0 auto; /* Added */
    /*float: none; /* Added */
    /*margin-bottom: 10px; 
    /* Added
}*/
body {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    min-height: 100vh;
  }
  /* text align center-homepage */
  .center {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
  }
  
/*hero*/
.container {
    position: relative;
    background-image: url("images/jetboat.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .text {
    text-align: center;
    position: absolute;
    left : 30%;
    top: 30%;
    width: 50%;
    background-color: rgba(256 , 256,256,0.5);
    font-size: 30px;
  }
  
  /* jumbotron 1 */
  /* Adds text shadow to make the text inside the jumbotron pop */
.jumbotron p,
.jumbotron h1 {
   text-shadow: 2px 2px 1px black;
}

/* Adds a top margin to the jumbotron button for better readability */
.jumbotron .btn {
   margin-top: 1.5rem;
}

/* Transparent buttons */
.btn-secondary-dark {
    color: #000000;
    background-color: transparent;
    border-color: #000000;
}

.btn-secondary-light {
   color: #FFFFFF;
   background-color: transparent;
   border-color: #FFFFFF;
}
/* about me */
img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 200px;
}
/* The hero image */

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  h1 {
    color: wheat;
  }
   h2 {
    color: black;
  }
  h3 {
    color: turquoise;
  }
  h4 {
    color: black;
  }
  h5 {
    color: teal;
  }
  h6 {
    color: darkred;
  }
  p {
    color: black;
  }
  /* about me skills */
  body {
    background-color: #eee
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}
 /* footer */

 /*end footer */
 